body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.date {
  padding: 20px;
  font-size: 1.5em;
  display: block;
  background-color: #FB966E;
  font-weight: 700;
}

h1 {
  color: #FB966E;
}

.addTodo {
  margin-top: 5em;
}
